PORT=3000
JWT_SECRET=supersecret
ADMIN_ACCESS_CODE=BITKI_ADMIN_2024
PUBLIC_DOMAIN=https://myshop.vercel.app
ADMIN_DOMAIN=https://admin.myshop.vercel.app
UPLOAD_DIR=/opt/render/project/uploads
BASE_URL=https://bitki-backend.onrender.com
NODE_ENV=development